/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header{
        flex-direction: column;    
    }
    header .menu ul {
        flex-direction: column;
        gap: 10px;
    }
    main .welcome {
        flex-direction: column;
    }
    main .welcome .photo img {
        width: 100%;
    }
    main .list {
        flex-direction: column;
        width: calc(100% - 100px);
    }
    main .list .card {
        margin-top: 0;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header .menu ul {
        gap: 20px;
    }
    main .welcome .photo img {
        width: 100%;
    }
    main .list {
        width: calc(100% - 100px);
    }
    main .list .card {
        width: calc(33% - 40px);
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    header .menu ul {
        gap: 20px;
    }
    main .welcome .photo img {
        width: 100%;
    }
    main .list {
        width: calc(100% - 100px);
    }
    main .list .card {
        width: calc(33% - 40px);
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}